* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', 'Microsoft Yahei', sans-serif;
    font-size: 14px;
    color: #000;
   /* background-color: #ddd;*/
}

a {
    text-decoration: none;
}

a,
a:active,
a:visited {
    color: #000;
}
img {
	vertical-align: middle;
}
.nav {
    line-height: 25px;
    list-style: none;
    left: 30px;
    position: fixed;
    top: 35px;
    left: 35px;
    z-index: 999;
    color: #000;
}

.one {
    display: block;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}

.box {
    position: relative;
    width: 80%;
    height: 53.333%;
   	margin-top: 60px;
   	box-shadow: 0 9px 18px 0 rgba(0, 0, 0, .24);
}

.box img {
    width: 100%;
    height: 100%;
}

.container {
    margin: 0 0 0 18%;
    margin-bottom: 80px;
}

@media (max-width: 700px) {
    .container {
        margin-left: 0;
        margin-bottom: 40px;
    }
    .nav {
        position: static;
        width: 100%;
        padding-top: 20px;
    }
    .nav:after {
        content: '';
        display: table;
        clear: both;
    }
    .nav li {
        float: left;
        text-align: center;
        width: 25%;
    }
    .box {
        width: 90%;
        margin: 40px auto;
        box-shadow: none;
    }
    .box img {
    	margin-bottom: 40px;
    	box-shadow: 0 9px 18px 0 rgba(0, 0, 0, .24);
    }
}

.copyright {
    padding: 20px 35px;
    margin-top: 40px;
    /*border-top: 1px solid rgba(0, 0, 0, 0.25);*/
    color: rgba(0, 0, 0, 0.25);
}
.slick-dots {
	bottom: 10px;
}